<div class="overlay"></div>
<div class="form-container">
    <div class="header">
        <h1>Reset Password</h1>
        <p class="subheading">Request an email reset link</p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email"  [ngClass]="{ 'is-invalid': submitted && forgotPasswordForm.controls.email.invalid }" required>
            <div class="invalid-feedback" *ngIf="submitted && forgotPasswordForm.controls.email.invalid">
              <div *ngIf="forgotPasswordForm.controls.email.errors?.required">Email is required</div>
              <div *ngIf="forgotPasswordForm.controls.email.errors?.email">Invalid email format</div>
            </div>
        </div>
        <div class="submit-container">
            <input type="submit" value="Send Reset Link">
            <div class="spinner-container">
                <span *ngIf="loading" class="spinner"></span>
                <div *ngIf="error" class="red-x-container">
                    <div class="red-x"></div>
                  </div>
                <div *ngIf="success && !loading" class="green-check-container">
                    <div class="green-check"></div>
                  </div>
            </div>
        </div>

        <div class="forgot-password-container">
            <a href="/login-signup-container" class="back-to-login-link">Back to Login</a>
        </div>
    </form>
</div>
<div *ngIf="error && showAlert" class="alert alert-danger bottom-alert" [@fadeInOut]>
    Failed to send email. Check if the provided email is valid!
</div>
<div *ngIf="success && showAlert" class="alert alert-success bottom-alert" [@fadeInOut]>
    Email sent successfully!
</div>