body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #1c1c1c;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5) transparent;
    z-index: 1;
    animation: fadeIn 1s ease-out;
}

.invalid-feedback {
    margin-top: 2%;
    color: rgb(255, 0, 0);
    /* White invalid feedback text */
}

.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
    z-index: 2;
    box-sizing: border-box;
    animation: fadeIn 1s ease-out;
    overflow-x: auto;
}

.form-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #3a3a3a;
    margin-bottom: 10px;
}

input[type="email"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #6e6e6e;
    font-size: 16px;
    color: #3a3a3a;
    background-color: #ffffff;
}

input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #242424;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    transition: 0.1s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 40px;
    transition: all 0.3s ease-out;
}

input[type="submit"]:hover {
    background-color: #ffffff;
    border: 1px black solid;
    color: #242424;
}

.back-to-login-link {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
    text-align: center;
}

.back-to-login-link:hover {
    color: #5a5a5a;
}

.header {
    background-color: #242424;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 35px;
    margin-top: 20px;
}

.form-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.subheading {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.spinner {
    border: 4px solid #fff;
    /* Set the color of the spinner */
    border-top: 4px solid #242424;
    /* Set the color of the spinner */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spinner 0.8s linear infinite;
}

.red-x {
    width: 23px;
    height: 23px;
    border: 2px solid rgb(202, 0, 0);
    border-radius: 50%;
    position: relative;
}

.red-x:before,
.red-x:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 52.636%;
    width: 15px;
    height: 2px;
    background-color: rgb(226, 0, 0);
    transform-origin: center center;
}

.red-x:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.red-x:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.green-check {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: #00c20a;
    border-radius: 50%;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.green-check:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: #fff;
    left: 11px;
    top: 6px;
}

.green-check:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #fff;
    left: 8px;
    top: 12px;
}

.bottom-alert {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    font-size: 14px;
    padding: 8px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}