 <div id = "btn" class="options">
        <span class="input-group-text" id="inputGroup-sizing-sm">Databases</span>
        <!-- <button id="btn1" name = "button" class="list-group-item list-group-item-action" (click)="displayView('btn1','room_data_container','room_option-container')">Room</button>
        <button id="btn2" name = "button" class="list-group-item list-group-item-action" (click)="displayView('btn2','team_data_container','team_option-container')">Team</button>
        <button id="btn3" name = "button" class="list-group-item list-group-item-action" (click)="displayView('btn3','seat_data_container','seat_option-container')">Seat</button> -->
        <button id="btn4" name = "button" class="list-group-item list-group-item-action" (click)="displayView('btn4','desk_data_container','desk_option-container')">Desk</button>
        <button id="btn5" name = "button" class="list-group-item list-group-item-action" (click)="displayView('btn5','user_data_container','user_option-container')">User</button>
        <!-- <button id="btn6" name = "button" class="list-group-item list-group-item-action" (click)="displayView('btn6','docker_data_container','docker_option-container')">Docker</button>
        <button id="btn7" name = "button" class="list-group-item list-group-item-action" (click)="displayView('btn7','container_data_container','container_option-container')">Container</button> -->
        <button id="btn8" name = "button" class="list-group-item list-group-item-action" (click)="displayView('btn8','reservation_data_container','reservation_option-container')">Reservation</button>
</div>
