/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* Provide sufficient contrast against white background */

.angular-calendar-week-view .cal-hour-segment.cal-afternoon .cal-time {
  display: none;
}

.angular-calendar-week-view .cal-hour-segment.cal-afternoon::before {
  content: attr(data-hour24) '00';
  display: inline;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
