.div {
    width: 100%;
}

.deletediv
{
    width: 100%;
}

#desk_data_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    float: right;
    white-space: normal;
    margin-top: 2%;
}

span {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: normal;
}