<div id="data_container">

    <!-- 
        option container
     -->
    <div class="options">
    
        <desk-options id="desk_option-container" name="option"></desk-options>
        <user-options id="user_option-container" name="option" style="display:none;"></user-options>
        <reservation-options id="reservation_option-container" name="option" style="display:none;"> </reservation-options>

    </div>

   
    <!-- 
        Data upload container
     -->
    <div class="div">
       
         <desk-options-data></desk-options-data>
         <user-options-data></user-options-data>
         <reservation-options-data></reservation-options-data>
    </div>
   
    <!-- 
        Database tables
     -->
    <div class="options" style="padding-left: 2%;">
        <database-options></database-options>
    </div>
</div>