<div class="overlay"></div>
<div class="form-container">
    <div class="header">
        <h1>Reset Password</h1>
        <p class="subheading">Request an email reset link</p>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="form-label" for="password">New Password</label>
            <div class="input-container">
                <input type="password" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.controls.password.invalid }" required>
                <div *ngIf="submitted && resetPasswordForm.controls.password.errors" class="invalid-feedback">
                    <div *ngIf="resetPasswordForm.controls.password.errors?.required">Password is required</div>
                    <div *ngIf="resetPasswordForm.controls.password.errors?.minlength">Password must be at least 8 characters</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="confirmPassword">Confirm New Password</label>
            <div class="input-container">
                <input type="password" id="confirmPassword" formControlName="confirmPassword"  [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.controls.confirmPassword.invalid }" required>
                <div *ngIf="submitted && resetPasswordForm.controls.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="resetPasswordForm.controls.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="resetPasswordForm.controls.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
        </div>

        <div class="submit-container">
            <input type="submit" value="Reset Password">
        </div>
    </form>
</div>

<div *ngIf="error && showAlert" class="alert alert-danger bottom-alert" [@fadeInOut]>
    {{ errorMessage }}
</div>
<div *ngIf="success && showAlert" class="alert alert-success bottom-alert" [@fadeInOut]>
    {{ successMessage }}
</div>