<div class="options">
    <span class="input-group-text" id="inputGroup-sizing-sm">Options</span>
    <button type="button" class="list-group-item list-group-item-action" (click)="load_AddReservation()">Add Reservation</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="load_DeleteReservation()"> Delete Reservation</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="load_UpdateReservation()">Update Reservation</button>
</div>

